.customLink {
	text-decoration: none;
	color: currentColor;
	
	&:hover {
		text-decoration: underline;
	}
}

.errorContainer {
	width: 100%;
	height: 50vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tableHeader {
	position: relative;
	&:hover .MuiButtonBase-root.MuiIconButton-root.deleteButton{
		opacity: 1;
		background-color: transparent;
	}
}

.MuiButtonBase-root.MuiIconButton-root.deleteButton {
	position: absolute;
	transition: .2s ease-out opacity;
	color: #ea3434;
	opacity: 0;
	top: 0;
	right: 0;
	background-color: transparent;
	font-size: 1rem;
	cursor: pointer;
}